<h1 align="center">RContributor Invoice Submission</h1>
<br />
<div align="center">   
<!-- Click agree -->
<h3>Confirmation</h3>
<section>
     <p>
     Thank you for contributing! 
     </p>
     <p>
     Processing is expected within 15 calendar days. 
     </p>
     <p>
     You will receive a confirmation by email. 
     </p>  
  </section>
</div>