
<h1 align="center">RContributor Invoice Submission</h1>
<br />
<div align="center">  
<!-- Clicked agree -->
<h3>Error</h3>
<section>
     <p>
     Thank you for contributing! Unfortunately, the invoice you're requesting doesn't exist.  
     </p>
     <p>
     If you've received this error after clicking a link sent in your invoice email, please contact allanjcooper@gmail.com for further assistance.
     </p>
</section>
</div>