
<h1 align="center">RContributor Invoice Submission</h1>
<br />
<div align="center">  
<!-- Clicked agree -->
<h3>Confirmation</h3>
<section>
     <p>
     Thank you for contributing! 
     </p>
     <p>
     Please contact (er, for now allanjcooper@gmail.com) for further assistance.
     </p>
</section>
</div>